{% extends "users/base.html" %}
{% load static %}



{% block nav %}
    <nav>
        <div class="nav-wrapper" style="background-color: #007db8;">
        <a href="#" class="brand-logo">  DELL Service</a>
        <!-- <img style="align-self: auto; height:50px; width: 50px;" src="{% static 'img/dell_logo.png' %}"> -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><span style="font-size: 25px;">Hello, {{ user.first_name }}</span></li>
            <li><a href=#><i class="material-icons">person</i></a></li>
            <li><a href=#><span style="font-size: 25px;">Cart(<span id="counter">0</span>)</span></a></li>
            <li><a href=#>Contact Us</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}

<style>
    .card{
        margin: 10px;
        padding: 20px;
        background-color: white;
        animation-name: hide1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }

    .hide1{
        float: right;
        width:100px;
        background-position-x: 100%;
    }
    p{
        margin: 5px;
    }

    @keyframes hide1{
        0% {
            opacity: 1;
            height: 100%;
            line-height: 100%;
            padding: 20px;
            margin-bottom: 10px;
        }
        25% {
            opacity: 0;
            height: 100%;
            line-height: 100%;
            padding: 20px;
            margin-bottom: 10px;
        }
        100% {
            opacity: 0;
            height: 0px;
            line-height: 0px;
            padding: 0px;
            margin-bottom: 0px;
        }
    }
    
    .product{
        padding: 10px;
    }
    
    p{
        margin: 0.25em;
    }

    /* body {
        padding-bottom: 50px;
    } */

</style>

<script>
    let counter = 0;

    function count() {
        counter++;
        document.querySelector('#counter').innerHTML = counter;
    }

    document.addEventListener('click', event => {
        const element = event.target;
        if (element.className == 'hide1 btn waves-effect waves-light') {
            count();
            console.log("ack");
            element.parentElement.style.animationPlayState = 'running';
            element.parentElement.addEventListener('animationend', () =>  {
                element.parentElement.remove();
            });
        }
    });

</script>




<div  style="background-color: #eee;">
    <div>
        <div class="col m12 l12" style="height: 400px; background-color: #eee;">
            <div class="caption center-align">
                <h1><p>        Your products:</p></h1>
            </div>

            <div class = "row">    
                <div class="col m6 l6">
                    <div class="card product" style="margin-left: 40%;">
                        <h1> XPS 15 9570</h1>
                        <p style="margin-bottom: 20px;"> Service Tag: XAP6429 </p>
                        <a class="center"><img src="{% static 'img/xps_15.jpg' %}" width="300px" height="182px"></a>
                    </div>
                </div>

                <div class="col m6 l6">
                    <div class="card product" style="margin-right: 40%;">
                        <h1>Inspiron 3417</h1>
                        <p>Serviced Tag: IFG4294</p>
                        <a class="center"><img src="{% static 'img/inspiron_3471.jpg' %}" width="285px" height="200px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div><!-- style="background-color:"  -->

        
            <div class="card">
                <div class="alert alert-info"><p><h5><i class="fa fa-lightbulb-o fa_custom fa-2x"></i>       Got a new camera?! Here is a video editing software for you.</h5></p></div>
                <div class="row">
                    <div class="col-lg-2">
                        <a class="center"><img src="{% static 'img/video_editor.jpg' %}" width="122px" height="150px"></a>
                    </div>
                    <div class="col-lg-8">
                        <span><h4>PowerDirector 17 Ultra and Cyberlink PhotoDirector 10 Ultra</h4>
                                <p>The best value video and photo editing combination it includes both </p>
                                <p>the award-winning Power Director & Photo Director, offering the most </p> 
                                <p>complete video and photo editing solutions"</p>
                                <p><a href="#">Know More</a></p>
                        </span>
                    </div>
                    <div class="col-lg-2">
                        <a><i class="fas fa-rupee-sign" style="color: black;"></i>4000</a>
                    </div>
                </div>
                <button class="hide1 btn waves-effect waves-light">Buy</button>
            </div>
            
            <div class="card">
                    <div class="alert alert-info"><p><h5><i class="fa fa-lightbulb-o fa_custom fa-2x"></i>       We see that you have browsed through malicious websites! Here is an Antivirus that will keep your device secure and protected.</h5></p></div>
                    <div class="row">
                    <div class="col-lg-2">
                        <a class="center"><img src="{% static 'img/Mcafee.jpg' %}" width="102px" height="150px"></a>
                    </div>
                    <div class="col-lg-8">
                        <span><h4>McAfee®</h4>
                                 <p>McAfee® Multi Device to secure your PCs, smartphones or tablets*.</p>
                                 <p>Shield your devices* from the latest threats and protect up to any</p>
                                 <p>3 devices*: PCs, smartphones or tablets with one subscription.</p>
                                 <p><a href="#">Know More</a></p>
                        </span>
                    </div>
                    <div class="col-lg-2">
                        <a><i class="fas fa-rupee-sign" style="color: black;"></i>1147/MONTH</a>
                    </div>
                </div>
                <button class="hide1 btn waves-effect waves-light">Buy</button>
            </div>

            <div class="card">
                    <div class="alert alert-info"><p><h5><i class="fa fa-lightbulb-o fa_custom fa-2x"></i>       We see that you have made plans to travel internationally! An international warranty will keep your device protected.</h5></p></div>
                    <div class="row">
                    <div class="col-lg-2">
                        <a class="center"><img src="{% static 'img/premium support plus.jpg' %}" width="199px" height="150px"></a>
                    </div>
                    <div class="col-lg-8">
                        <span><h4>Premium Support Plus</h4>
                                 <p>Get all of the benefits of Premium Support as well as accidental damage </p>
                                 <p>cover, virus removal and automated PC optimisation using Dell’s automated</p>
                                 <p>SupportAssist technology.</p>
                                 <p><a href="#">Know More</a></p>
                        </span>
                    </div>
                    <div class="col-lg-2">
                        <a>
                            <p>3 Year Support</p>
                            <p><i class="fas fa-rupee-sign" style="color: black;"></i>3450</p>
                        </a>
                    </div>
                </div>
                <button class="hide1 btn waves-effect waves-light">Buy</button>
            </div>

            <div class="card">
                    <div class="alert alert-info"><p><h5><i class="fa fa-lightbulb-o fa_custom fa-2x"></i>       Stay connected to your devices through Office 365 cloud services.</h5></p></div>
                    <div class="row">
                    <div class="col-lg-2">
                        <a class="center"><img src="{% static 'img/office365.jpg' %}" width="150px" height="150px"></a>
                    </div>
                    <div class="col-lg-8">
                        <span><h4>Microsoft Office 365 Personal</h4>
                                 <p>By choosing Office 365, you will have the latest versions of Word, Excel, </p>
                                 <p>PowerPoint, OneNote and Outlook, plus cloud services.</p>
                                 <p><a href="#">Know More</a></p>
                        </span>
                    </div>  
                    <div class="col-lg-2">
                        <a>
                            <p>1 Year Subscription</p>
                            <p><i class="fas fa-rupee-sign" style="color: black;"></i>3312</p>
                        </a>
                    </div>
                </div>
                <button class="hide1 btn waves-effect waves-light">Buy</button>
            </div>


            <div class="card">
                    <div class="alert alert-info"><p><h5><i class="fa fa-lightbulb-o fa_custom fa-2x"></i>       Public wifi's are unsecure and usually prone to hackers! Consider using a pivate VPN to keep your data protected.</h5></p></div>
                    <div class="row">
                    <div class="col-lg-2">
                        <a class="center"><img src="{% static 'img/safeconnect.jpg' %}" width="240px" height="200px"></a>
                    </div>
                    <div class="col-lg-8">
                        <span><h4>McAfee Safe Connect (VPN privacy)</h4>
                                 <p>Hackers are increasingly setting up their networks in public places, waiting for </p>
                                 <p>users to connect, and easily accessing your personal information at unassuming places </p>
                                 <p>like coffee shops, hotels, and other public wifi spots. Maximize your invest. Keep your </p>
                                 <p>connection safe and secure with McAfee Safe Connect VPN.</p>
                                 <p><a href="#">Know More</a></p>
                        </span>
                    </div>  
                    <div class="col-lg-2">
                        <a>
                            <p>1 Year Subscription</p>
                            <p><i class="fas fa-rupee-sign" style="color: black;"></i>3432</p>
                        </a>
                    </div>
                </div>
                <button class="hide1 btn waves-effect waves-light">Buy</button>
            </div>

    </div>

    <div style="margin: 10px;">
        <a href="#"><p class="center">Load More</p></a>
    </div>
            
    
</div>
{% endblock %}
